.App {
  text-align: center;
}


.App-intro {
  font-size: large;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #000080;
  text-decoration: underline;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: serif;
}

p {
  color: black;
  font-family: serif;
  font-size: 1.1em;
}

div {
  background-color: pink;
  padding-bottom: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
